.information{
    font-size: xx-large;
    justify-items: center;

}

button{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    justify-self: center;
}